/* public/css/room.css */

/* 盤面 */
#board {
  display: inline-block;
  margin: 20px 0;
}
.row {
  display: flex;
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #aaa;
  text-align: center;
  line-height: 30px;
  font-family: monospace;
  cursor: pointer;
}

/* 最低限のコントロール部 */
.control-row {
  margin: 5px 0;
}
.url, .body {
  margin-left: 10px;
  font-size: 0.9em;
  color: #666;
}